/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 3

   Pixal Arts and Entertainment Animation Styles
   Author: Todd Adcox Jr
    Date:   1-30-19   

   Filename: 
   
   Sprite animation is created using the paa_bat.png, 
   paa_bfly.png, and paa_fox.png image files.
   
   paa_bat.png has 40 frames
   paa_bfly.png has 34 frames
   paa_fox.png has 28 frames

*/

/* Transition Effects */

/* The following is going to affect the nav a selector with the id of gameLinks, its going to place the links using relative positioning, setting the font color to white, and has a transition with the font color over a 0.5-second interval. */
nav#gameLinks a {
    position: relative;
    color: white;
    transition: color 0.5s
}

/* For the nav a selector with the id of gameLinks and the pseudo class of hover it is going to set the background color to rgb(255, 194, 99).*/
nav#gameLinks a:hover {
    color: rgb(255, 194, 99);
}

/* 
The nav a selector with the id of gameLinks with the pseudo class of after, places an empty text string as the value of the content property, poitions the content with absolute positioning with a top value of 100% and a left value of 0 pixels, sets the width to 0%, height to 8 pixels, changes the background to a linear gradient that moves to right one color value to another, sets the border radius to 4 pixels, and hides the bar because the opacity is set to 0, Adds a transition style that applies the opacity and width changes over a half of a second. */
nav#gameLinks a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    width: 0%;
    height: 8px;
    background: linear-gradient(to right, rgb(237, 243, 71), rgb(188, 74, 0));
    border-radius: 4px;
    opacity: 0;
    transition: opacity 1 0.5s, width 100% 0.5s;
}

/* When the nav a selector with the id of gameLinks with the pseudo class of after a:hover::after is being hovered over the opacity is going to change to 1 and the width will be 100%.
 */
nav#gameLinks a:hover::after {
    opacity: 1;
    width: 100%;
}

/* Sprite Styles */

/* The div elements with the class of sprite or going to have absolute positioning.*/
div.sprite {
    position: absolute;
}

/*For the div element with the ID bat, it is setting the width and height to 40 pixels by 50 pixels, sets the top and left coordinates to 100 pixels and –50 pixels, and displays the background image, placed in the left center of the background with no tiling and is set to cover the background an animation is set to the bat div element over a 2-second interval with 39 steps the flyRight animation over an 8-second interval with linear timing both animations to loop infinitely. */
div#bat {
    width: 40px;
    height: 50px;
    top: 100px;
    left: -50px;
    background: url(paa_bat.png) left center/ cover no-repeat;
    animation: playSprite 2s steps(39) infinite;
    animation:  flyRight 8s infinite;
    animation-timing-function: linear;
}




/*For the div element with the ID butterfly, it is setting the width and height to 35 pixels, the top and left coordinates at 60 pixels and –50 pixels, and setting a background image. the has a 3-second delay, with a playing time of 1 second spaced out in 33 steps,the flyRight animation plays over a 6-second interval. Make the butterfly appear to hover by applying a Cubic Bézier curve to the flyRight timing with the function cubic-bezier(0,1,0.73,0). Set both animations to loop infinitely.
 */

div#butterfly {
    width: 35px;
    height: 35px;
    top: 60px;
    left: -50px;
    background: url(paa_bfly.png) left center/ cover no-repeat;
    animation: playSprite 1s steps(33), flyRight 6s infinite;
    animation-timing-function: cubic-bezier(0,1,0.73,0) infinite;
}

/*For the div element with the ID fox, it is setting the width and height at 280 and 260 pixels, the bottom and right coordinates to 10 pixels, and setting a background image in the left center, covering the background and not being tiled, after a 4-second delay over a time interval of 3.5 seconds and a steps value of 27 the animation will loop infinitely.
 */

div#fox {
    width: 280px;
    height: 260px;
    bottom: 10px;
    right: 10px;
    background: url(paa_fox.png) left center/ cover no-repeat;
    animation: playSprite 3.5s steps(27) 4s infinite;
}

/* Animation Styles */



/* this is going to make the fox stay in the same position 100% of the time */
@keyframes playSprite {
    100% {
        background-position: right center;
    }
}

/* at different time periods the butterfly and bat are going to move to the specified cordinate. */
@keyframes flyRight {
    25% {
        top: 150px;
    }

    50% {
        top: 55px;
    }

    65% {
        top: 120px;
    }

    90% {
        top: 50px;
    }

    100% {
        top: 80px;
        left: 100%;
    }
}